@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto+Mono:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #30615e;
}

main {
    overflow: hidden;
}

/* logo */

header {
    width: 100%;
    height: 80px;
    background: rgba(43, 43, 43, 0.568);
    border: 1px solid rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 70px;
    font-size: 20px;
}

/* home section */

#home {
    height: 80vh;
}

/* quotes */

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    text-transform: uppercase;
}

/* start drawing button */

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
    margin: 50px;
    margin-top: 30px;
    font-size: 1rem;
}

.button:hover {
    border: 5px solid #fbd0ff;
    background: #cfbef8;
    color: rgb(19, 41, 114);
    transition: 0.3s ease-in;
    font-size: 1rem;
}

/* cubes hover effect - this code its from youtube */

.container {
    position: relative;
    width: 100%;
    height: 50vh;
    transform: skewY(-20deg);
    animation: animate 5s linear infinite;

}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.container .cube {
    position: relative;
    z-index: 2;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    top: 50%;
}

.container .cube:nth-child(2) {
    z-index: 1;
    translate: -60px -60px;
}

.container .cube:nth-child(3) {
    z-index: 3;
    translate: 60px 60px;
}

.container .cube div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    translate: calc(-70px * var(--x)) calc(-60px * var(--y));
}

.container .cube div span {
    position: relative;
    display: inline;
    width: 50px;
    height: 50px;
    background: #dcdcdc;
    z-index: calc(1 * var(--i));
    transition: 1.5s;
}

.container .cube div span:hover {
    transition: 0s;
    background: rgb(255, 159, 159);
    filter: drop-shadow(0 0 30px rgb(255, 159, 159));
}

.container .cube div span::before {
    content: '';
    position: absolute;
    left: -40px;
    width: 40px;
    height: 100%;
    background-color: white;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
}

.container .cube div span:hover::before {
    transition: 0s;
    background: rgb(255, 207, 207);
}

.container .cube div span::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(236, 236, 236);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;
}

.container .cube div span:hover::after {
    transition: 0s;
    background: rgb(252, 148, 148);
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #b7eeea;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer > h3 {
    color: rgb(155, 20, 103);
    font-size: 0.9rem;
}

/* error page */

#error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 67px;
}

#error  h1 {
    font-size: 1.5rem;
}

#error  h2 {
    font-size: 1rem;
}

lord-icon {
   width: 100%;
   height: 50vh;
}

/* canvas page */

#canva-page {
    width: 100%;
}          

#background {
    background: white;
    overflow: hidden;
}          

.nav {
    max-width: 80px;
    width: 25%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: 30px;
    transform: translate(-50%);
    background-color: rgba(43, 43, 43, 0.568);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.clr {
    width: 35px;
    height: 35px;
    margin: 7px;
    background-color: blue;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .5s;
}

.clr:hover {
    transform: scale(1.2);
}

.clr:nth-child(1) {
    background-color: #D16BA5;
}

.clr:nth-child(2) {
    background-color: #86A8E7;
}

.clr:nth-child(3) {
    background-color: #5FFBF1;
}

.clr:nth-child(4) {
    background-color: #6F6BD1;
}

.clr:nth-child(5) {
    background-color: #17E58B;
}

.clr:nth-child(6) {
    background-color: #EEFB5F;
}

.clr:nth-child(7) {
    background-color: #D1856B;
}

.clr:nth-child(8) {
    background-color: #A0FB4C;
}

button {
    width: 55px;
    height: 40px;
    margin: 5px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 10%;
    cursor: pointer;
    transition: transform .5s;
}

button:hover {
    transform: scale(1.2);
}

.clear {
    background-color: #55002f;
    color: white;
}

.save {
    background-color: #003d39;
    color: white;
}

input[type="color"] {
    margin: 15px;
    margin-left: 20px;
    cursor: pointer;
}


#ageInputId {
    width: 80%;
    height: 20px;
    margin: 10px;
    margin-left: 18px;
    background: linear-gradient(to right top, #eacff0, #d1d8ff, #a4e5ff, #6ff2ff, #5ffbf1);
    -webkit-appearance: none;
    cursor: ew-resize;
    border-radius: 5px;
    border: 1px solid #003d39;
    accent-color: #003d39;
}


/* media query */

@media screen and (max-width: 600px) {

    .container {
        display: none;
    }
}

@media screen and (max-width: 450px) {

    #error {
        margin-left: 10px;
        margin-right: 10px;
    }

    lord-icon {
        height: 30vh;
    }

}

@media screen and (max-width: 400px) {

    .footer {
        padding: 10px;
    }
}

@media screen and (max-width: 280px) {

    .button {
        padding-right: 10px;
    }
}