@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto+Mono:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #30615e;
}

/* logo */

header {
    width: 100%;
    height: 80px;
    background: rgba(43, 43, 43, 0.568);
    border: 1px solid rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 70px;
    font-size: 20px;
}

/* quotes */

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    text-transform: uppercase;
}

/* start drawing button */

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
    margin: 50px;
    margin-top: 30px;
    font-size: 1rem;
}

.button:hover {
    border: 5px solid #fbd0ff;
    background: #cfbef8;
    color: rgb(19, 41, 114);
    transition: 0.3s ease-in;
    font-size: 1rem;
}